/*
 * Start Bootstrap - Scrolling Nav
*/

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children
of those sections to manage the look and feel of the site. */

.intro-section, .papers-section, .contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #red;
}

.software-section, .talks-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

/*
 * other tweaks
*/

#header{
	font-weight: bold;
	font-size: x-large;
	color: black;
}
.subheading{
	background-color:DarkGray;
	color:#fffff0;
	padding-left:10px;
}
.bold{
	font-weight: bold;
}

.boldRed{
	font-weight: bold;
	color: red;
}

.small{
	font-size: small;
}

td{
	padding-left: .5em;
	padding-right: .5em;

}
li{
	margin-bottom: .5em;
}
div.banner {
  	margin: 0;
  	font-size: 90%;
  	font-weight: bold;
  	line-height: 1.1;
  	text-align: center;
  	position: fixed;
  	top: 2em;
  	left: auto;
  	width: 8em;
  	right: 2em;
  	border: none;
	background-color:#fffff0;
}
div.banner p {
	padding: .3em .3em .3em .3em;
 	font-family: sans-serif;
	background-color:#fffff0;
  	color: white;
}

div.banner a {
	text-decoration: none;
	padding-top: .25em;
	padding-bottom: .25em;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	display: block;
	color: black;
}
div.banner a:hover {
	text-decoration: none;
	color: GhostWhite;
	background: darkGray;
}
div.banner p:first-child{
	padding-top: 1em;
	border-top:none;
}

.images {
	position: absolute;
	bottom: .05em;
	left: 1em;
	position: fixed;
}

pre {
	overflow:auto;
	background-color: black;
	color: #F8F8FF;
	padding: 1ex 0 1ex 1em;
}

a{
	color: #778899;
	text-decoration: none;
}
a:hover{

	background-color: lightGray;
}

a.download {
background: url(../img/download.png) left center no-repeat;
padding-left: 1.5em; /* Linktext einrücken */
text-decoration: underline;
}

a.internal {
background: url(../img/internal.png) left center no-repeat;
padding-left: 2em; /* Linktext einrücken */
text-decoration: underline;
}

a.external {
background: url(../img/external.png) right center no-repeat;
padding-right: 1.1em; /* Linktext einrücken */
text-decoration: underline;
}
a.github {
background: url(../img/github.png)  left center no-repeat;
display:inline-block;
padding-left: 1.5em; /* Linktext einrücken */
text-decoration: underline;

}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}
.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}
.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}
.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
  font-weight: bold;

}
a:hover img {
border: none !important;
display: block;
}

/* layout for supplement images */
.img{
	float:left;
	margin-top:250px;
	padding:12px;
	width:200px;
}
.imgText{
	float:left;
	margin-top:250px;
	padding:12px;
	margin-bottom:50px;
	width:35%;
	font-weight:bold;
	font-size:13px;
}
